web-app/WEB-INF/classes

prodDb.*

*Db.properties
*Db.script

stacktrace.log
test/reports
logs


*.war

*.zip
plugin.xml
plugins
web-app/plugins
target
.class
.stettings
.classpath
.project
